# Load df

In [11]:
import pandas as pd
group = 'race'
group1 = 'white'
group2 = 'black'
# group = 'gender'
# group1 = 'male'
# group2 = 'female'
# group = 'age'
# group1 = 'child'
# group2 = 'adult'


file_path = rf'../results/processed_data/3_3_calculated_zones/3_3_calculated_zones_v6_{group}.csv'
df = pd.read_csv(file_path)
df.drop(columns='Unnamed: 0', axis=1, inplace=True)
df

,PtID,ratio,ptid_test,ptid_group,counts_none_naive,counts_slight_naive,counts_moderate_naive,counts_high_naive,counts_extreme_naive,counts_none_single,...,counts_none_base,counts_slight_base,counts_moderate_base,counts_high_base,counts_extreme_base,counts_none_tl,counts_slight_tl,counts_moderate_tl,counts_high_tl,counts_extreme_tl
0,172,100,172,black,469,190,13,0,0,425,...,493,171,8,0,0,492,172,8,0,0
1,158,0,158,black,412,227,31,2,0,309,...,455,193,22,2,0,451,193,26,2,0
2,59,100,59,white,435,197,38,2,0,416,...,440,208,24,0,0,423,214,34,1,0
3,79,10,79,black,516,156,0,0,0,450,...,559,113,0,0,0,527,145,0,0,0
4,210,70,210,black,571,97,4,0,0,565,...,599,68,5,0,0,599,68,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,52,60,52,black,421,217,34,0,0,418,...,455,178,39,0,0,452,188,32,0,0
2240,107,10,107,white,371,257,42,2,0,407,...,423,224,25,0,0,431,214,27,0,0
2241,130,100,130,black,445,214,13,0,0,427,...,457,208,7,0,0,461,205,6,0,0
2242,105,90,105,white,471,186,15,0,0,475,...,515,156,1,0,0,513,158,1,0,0
2243,11,40,11,black,496,134,40,2,0,485,...,499,139,34,0,0,500,139,33,0,0

# Grouping rows based on ratio and group

In [12]:
df_original = pd.DataFrame(df)
df_grouped=df_original.groupby(['ratio', 'ptid_group']).sum().reset_index()

df_grouped.T

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
ratio,0,0,10,10,20,20,30,30,40,40,...,60,60,70,70,80,80,90,90,100,100
ptid_group,black,white,black,white,black,white,black,white,black,white,...,black,white,black,white,black,white,black,white,black,white
PtID,11473,11875,11473,11875,11473,11875,11473,11875,11473,11875,...,11473,11875,11473,11875,11473,11875,11473,11875,11473,11875
ptid_test,11473,11875,11473,11875,11473,11875,11473,11875,11473,11875,...,11473,11875,11473,11875,11473,11875,11473,11875,11473,11875
counts_none_naive,49339,47031,49339,47031,49339,47031,49339,47031,49339,47031,...,49339,47031,49339,47031,49339,47031,49339,47031,49339,47031
counts_slight_naive,16658,17781,16658,17781,16658,17781,16658,17781,16658,17781,...,16658,17781,16658,17781,16658,17781,16658,17781,16658,17781
counts_moderate_naive,3047,2883,3047,2883,3047,2883,3047,2883,3047,2883,...,3047,2883,3047,2883,3047,2883,3047,2883,3047,2883
counts_high_naive,171,176,171,176,171,176,171,176,171,176,...,171,176,171,176,171,176,171,176,171,176
counts_extreme_naive,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
counts_none_single,45982,44968,46087,44541,45824,44677,45933,44629,45600,44416,...,45425,44805,46002,44227,46473,44483,45607,44924,45976,44318
counts_slight_single,18573,18708,18635,19159,18788,19035,18634,18786,18933,19242,...,19235,18707,18702,19302,18467,19099,19167,18718,18779,19148
counts_moderate_single,4342,3995,4209,3977,4325,3959,4303,4251,4368,4001,...,4258,4149,4198,4111,4016,4048,4139,4031,4188,4200
counts_high_single,319,201,285,195,279,201,346,206,315,213,...,298,211,314,232,260,242,303,199,273,206
counts_extreme_single,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
counts_none_base,51667,49118,51630,49285,51314,49226,51579,49311,51677,49322,...,51632,49350,51748,49374,51333,49387,51808,49394,51753,49393
counts_slight_base,15674,16888,15697,16737,15927,16766,15582,16694,15486,16657,...,15404,16585,15251,16536,15453,16487,15104,16486,15120,16465
counts_moderate_base,1834,1806,1851,1801,1920,1829,1952,1819,2012,1846,...,2139,1889,2177,1913,2290,1949,2262,1942,2302,1967
counts_high_base,40,60,37,48,54,51,102,48,40,47,...,40,48,39,49,139,49,41,50,40,47
counts_extreme_base,1,0,1,1,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
counts_none_tl,51746,48946,51758,49168,51399,49140,51613,49215,51753,49274,...,51695,49213,51806,49242,51383,49245,51779,49305,51847,49246
counts_slight_tl,15557,16657,15543,16554,15823,16503,15542,16491,15388,16372,...,15351,16444,15239,16342,15453,16309,15153,16247,15101,16275
counts_moderate_tl,1873,2211,1879,2103,1942,2177,1959,2116,2034,2180,...,2129,2166,2133,2240,2245,2270,2243,2270,2227,2304
counts_high_tl,39,58,35,46,51,52,101,50,40,46,...,40,49,37,48,134,48,40,50,40,47
counts_extreme_tl,1,0,1,1,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0

# Calculating Percentage
## 1) Calculating the sum

In [13]:
df_grouped_gr1 = df_grouped[df_grouped['ptid_group'] == group1].copy()
df_grouped_gr2 = df_grouped[df_grouped['ptid_group'] == group2].copy()

# Just cheking for the other columns
# naive_columns = [col for col in df_grouped_gr1.columns if '_naive' in col]
# single_columns = [col for col in df_grouped_gr1.columns if '_single' in col]
# base_columns = [col for col in df_grouped_gr1.columns if '_base' in col]
# tl_columns = [col for col in df_grouped_gr1.columns if '_tl' in col]

# naive_columns = [col for col in df_grouped_gr2.columns if '_naive' in col]
# single_columns = [col for col in df_grouped_gr2.columns if '_single' in col]
# base_columns = [col for col in df_grouped_gr2.columns if '_base' in col]
# tl_columns = [col for col in df_grouped_gr2.columns if '_tl' in col]


# df_grouped_gr1['sum_naive'] = df_grouped_gr1[naive_columns].sum(axis=1)
# df_grouped_gr1['sum_single'] = df_grouped_gr1[naive_columns].sum(axis=1)
# df_grouped_gr1['sum_base'] = df_grouped_gr1[naive_columns].sum(axis=1)
# df_grouped_gr1['sum_tl'] = df_grouped_gr1[naive_columns].sum(axis=1)

# df_grouped_gr2['sum_naive'] = df_grouped_gr2[naive_columns].sum(axis=1)
# df_grouped_gr2['sum_single'] = df_grouped_gr2[naive_columns].sum(axis=1)
# df_grouped_gr2['sum_base'] = df_grouped_gr2[naive_columns].sum(axis=1)
# df_grouped_gr2['sum_tl'] = df_grouped_gr2[naive_columns].sum(axis=1)

naive_columns_gr1 = [col for col in df_grouped_gr1.columns if '_naive' in col]
naive_columns_gr2 = [col for col in df_grouped_gr2.columns if '_naive' in col]
df_grouped_gr1['sum'] = df_grouped_gr1[naive_columns_gr1].sum(axis=1)
df_grouped_gr2['sum'] = df_grouped_gr2[naive_columns_gr2].sum(axis=1)
df_grouped_gr2.T

,0,2,4,6,8,10,12,14,16,18,20
ratio,0,10,20,30,40,50,60,70,80,90,100
ptid_group,black,black,black,black,black,black,black,black,black,black,black
PtID,11473,11473,11473,11473,11473,11473,11473,11473,11473,11473,11473
ptid_test,11473,11473,11473,11473,11473,11473,11473,11473,11473,11473,11473
counts_none_naive,49339,49339,49339,49339,49339,49339,49339,49339,49339,49339,49339
counts_slight_naive,16658,16658,16658,16658,16658,16658,16658,16658,16658,16658,16658
counts_moderate_naive,3047,3047,3047,3047,3047,3047,3047,3047,3047,3047,3047
counts_high_naive,171,171,171,171,171,171,171,171,171,171,171
counts_extreme_naive,1,1,1,1,1,1,1,1,1,1,1
counts_none_single,45982,46087,45824,45933,45600,46114,45425,46002,46473,45607,45976
counts_slight_single,18573,18635,18788,18634,18933,18579,19235,18702,18467,19167,18779
counts_moderate_single,4342,4209,4325,4303,4368,4247,4258,4198,4016,4139,4188
counts_high_single,319,285,279,346,315,276,298,314,260,303,273
counts_extreme_single,0,0,0,0,0,0,0,0,0,0,0
counts_none_base,51667,51630,51314,51579,51677,51496,51632,51748,51333,51808,51753
counts_slight_base,15674,15697,15927,15582,15486,15439,15404,15251,15453,15104,15120
counts_moderate_base,1834,1851,1920,1952,2012,2126,2139,2177,2290,2262,2302
counts_high_base,40,37,54,102,40,154,40,39,139,41,40
counts_extreme_base,1,1,1,1,1,1,1,1,1,1,1
counts_none_tl,51746,51758,51399,51613,51753,51437,51695,51806,51383,51779,51847
counts_slight_tl,15557,15543,15823,15542,15388,15593,15351,15239,15453,15153,15101
counts_moderate_tl,1873,1879,1942,1959,2034,2068,2129,2133,2245,2243,2227
counts_high_tl,39,35,51,101,40,117,40,37,134,40,40
counts_extreme_tl,1,1,1,1,1,1,1,1,1,1,1
sum,69216,69216,69216,69216,69216,69216,69216,69216,69216,69216,69216

## 2) Calculating the Percentage

In [14]:
df_percentage_gr1 = pd.DataFrame(df_grouped_gr1).copy()
df_percentage_gr2 = pd.DataFrame(df_grouped_gr2).copy()


def calc_percentage(df, col_total):
    for column in df.columns:
        if 'counts' in column:
            df[f'percentage_{column}'] = df[column] / df[col_total] * 100
            
    return df

df_percentage_gr1=calc_percentage(df_percentage_gr1, col_total='sum')
df_percentage_gr2=calc_percentage(df_percentage_gr2, col_total='sum')

df_percentage_gr1.T

,1,3,5,7,9,11,13,15,17,19,21
ratio,0,10,20,30,40,50,60,70,80,90,100
ptid_group,white,white,white,white,white,white,white,white,white,white,white
PtID,11875,11875,11875,11875,11875,11875,11875,11875,11875,11875,11875
ptid_test,11875,11875,11875,11875,11875,11875,11875,11875,11875,11875,11875
counts_none_naive,47031,47031,47031,47031,47031,47031,47031,47031,47031,47031,47031
counts_slight_naive,17781,17781,17781,17781,17781,17781,17781,17781,17781,17781,17781
counts_moderate_naive,2883,2883,2883,2883,2883,2883,2883,2883,2883,2883,2883
counts_high_naive,176,176,176,176,176,176,176,176,176,176,176
counts_extreme_naive,1,1,1,1,1,1,1,1,1,1,1
counts_none_single,44968,44541,44677,44629,44416,44711,44805,44227,44483,44924,44318
counts_slight_single,18708,19159,19035,18786,19242,18753,18707,19302,19099,18718,19148
counts_moderate_single,3995,3977,3959,4251,4001,4146,4149,4111,4048,4031,4200
counts_high_single,201,195,201,206,213,262,211,232,242,199,206
counts_extreme_single,0,0,0,0,0,0,0,0,0,0,0
counts_none_base,49118,49285,49226,49311,49322,49327,49350,49374,49387,49394,49393
counts_slight_base,16888,16737,16766,16694,16657,16603,16585,16536,16487,16486,16465
counts_moderate_base,1806,1801,1829,1819,1846,1893,1889,1913,1949,1942,1967
counts_high_base,60,48,51,48,47,49,48,49,49,50,47
counts_extreme_base,0,1,0,0,0,0,0,0,0,0,0
counts_none_tl,48946,49168,49140,49215,49274,49213,49213,49242,49245,49305,49246
counts_slight_tl,16657,16554,16503,16491,16372,16397,16444,16342,16309,16247,16275
counts_moderate_tl,2211,2103,2177,2116,2180,2214,2166,2240,2270,2270,2304
counts_high_tl,58,46,52,50,46,48,49,48,48,50,47
counts_extreme_tl,0,1,0,0,0,0,0,0,0,0,0
sum,67872,67872,67872,67872,67872,67872,67872,67872,67872,67872,67872
percentage_counts_none_naive,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367,69.29367
percentage_counts_slight_naive,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843,26.197843
percentage_counts_moderate_naive,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702,4.247702
percentage_counts_high_naive,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312,0.259312
percentage_counts_extreme_naive,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473,0.001473
percentage_counts_none_single,66.254125,65.625,65.825377,65.754656,65.44083,65.875471,66.013967,65.162364,65.539545,66.189298,65.29644
percentage_counts_slight_single,27.563649,28.228135,28.045438,27.678571,28.350424,27.62995,27.562176,28.438826,28.139734,27.578383,28.211928
percentage_counts_moderate_single,5.88608,5.859559,5.833039,6.26326,5.89492,6.108557,6.112977,6.05699,5.964168,5.939121,6.188119
percentage_counts_high_single,0.296146,0.287306,0.296146,0.303512,0.313826,0.386021,0.310879,0.34182,0.356554,0.293199,0.303512
percentage_counts_extreme_single,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
percentage_counts_none_base,72.368576,72.614628,72.527699,72.652935,72.669142,72.676509,72.710396,72.745757,72.76491,72.775224,72.773751
percentage_counts_slight_base,24.882131,24.659653,24.702381,24.596299,24.541785,24.462223,24.435702,24.363508,24.291313,24.28984,24.258899
percentage_counts_moderate_base,2.660891,2.653524,2.694778,2.680045,2.719826,2.789074,2.78318,2.818541,2.871582,2.861268,2.898102
percentage_counts_high_base,0.088402,0.070721,0.075141,0.070721,0.069248,0.072195,0.070721,0.072195,0.072195,0.073668,0.069248
percentage_counts_extreme_base,0.0,0.001473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
percentage_counts_none_tl,72.115158,72.442244,72.40099,72.511492,72.598421,72.508545,72.508545,72.551273,72.555693,72.644095,72.557166
percentage_counts_slight_tl,24.541785,24.390028,24.314887,24.297207,24.121876,24.158711,24.227959,24.077676,24.029055,23.937706,23.97896
percentage_counts_moderate_tl,3.257603,3.098479,3.207508,3.117633,3.211928,3.262023,3.191301,3.30033,3.344531,3.344531,3.394625
percentage_counts_high_tl,0.085455,0.067775,0.076615,0.073668,0.067775,0.070721,0.072195,0.070721,0.070721,0.073668,0.069248
percentage_counts_extreme_tl,0.0,0.001473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0