# Load df

In [4]:
import pandas as pd
# group = 'gender'
group = 'race'
file_path = f'../results/processed_df/3_3_calculated_zones/3_3_calculated_zones_v6_{group}.csv'
file_path = rf'/home/hbt/jchr_data/jchr_racial_diff/results/processed_data/3_3_calculated_zones/3_3_calculated_zones_v6_{group}.csv'
df = pd.read_csv(file_path)

In [5]:
df

,Unnamed: 0,PtID,ratio,ptid_test,ptid_group,counts_none_naive,counts_slight_naive,counts_moderate_naive,counts_high_naive,counts_extreme_naive,...,counts_none_base,counts_slight_base,counts_moderate_base,counts_high_base,counts_extreme_base,counts_none_tl,counts_slight_tl,counts_moderate_tl,counts_high_tl,counts_extreme_tl
0,0,172,100,172,black,469,190,13,0,0,...,493,171,8,0,0,492,172,8,0,0
1,1,158,0,158,black,412,227,31,2,0,...,455,193,22,2,0,451,193,26,2,0
2,2,59,100,59,white,435,197,38,2,0,...,440,208,24,0,0,423,214,34,1,0
3,3,79,10,79,black,516,156,0,0,0,...,559,113,0,0,0,527,145,0,0,0
4,4,210,70,210,black,571,97,4,0,0,...,599,68,5,0,0,599,68,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,2239,52,60,52,black,421,217,34,0,0,...,455,178,39,0,0,452,188,32,0,0
2240,2240,107,10,107,white,371,257,42,2,0,...,423,224,25,0,0,431,214,27,0,0
2241,2241,130,100,130,black,445,214,13,0,0,...,457,208,7,0,0,461,205,6,0,0
2242,2242,105,90,105,white,471,186,15,0,0,...,515,156,1,0,0,513,158,1,0,0
2243,2243,11,40,11,black,496,134,40,2,0,...,499,139,34,0,0,500,139,33,0,0

In [6]:
df_original = pd.DataFrame(df)
df_grouped=df_original.groupby(['ratio', 'ptid_group']).sum().reset_index()

df_grouped

,ratio,ptid_group,Unnamed: 0,PtID,ptid_test,counts_none_naive,counts_slight_naive,counts_moderate_naive,counts_high_naive,counts_extreme_naive,...,counts_none_base,counts_slight_base,counts_moderate_base,counts_high_base,counts_extreme_base,counts_none_tl,counts_slight_tl,counts_moderate_tl,counts_high_tl,counts_extreme_tl
0,0,black,109289,11473,11473,49339,16658,3047,171,1,...,51667,15674,1834,40,1,51746,15557,1873,39,1
1,0,white,116599,11875,11875,47031,17781,2883,176,1,...,49118,16888,1806,60,0,48946,16657,2211,58,0
2,10,black,106406,11473,11473,49339,16658,3047,171,1,...,51630,15697,1851,37,1,51758,15543,1879,35,1
3,10,white,121229,11875,11875,47031,17781,2883,176,1,...,49285,16737,1801,48,1,49168,16554,2103,46,1
4,20,black,122767,11473,11473,49339,16658,3047,171,1,...,51314,15927,1920,54,1,51399,15823,1942,51,1
5,20,white,109109,11875,11875,47031,17781,2883,176,1,...,49226,16766,1829,51,0,49140,16503,2177,52,0
6,30,black,122473,11473,11473,49339,16658,3047,171,1,...,51579,15582,1952,102,1,51613,15542,1959,101,1
7,30,white,106133,11875,11875,47031,17781,2883,176,1,...,49311,16694,1819,48,0,49215,16491,2116,50,0
8,40,black,109329,11473,11473,49339,16658,3047,171,1,...,51677,15486,2012,40,1,51753,15388,2034,40,1
9,40,white,118787,11875,11875,47031,17781,2883,176,1,...,49322,16657,1846,47,0,49274,16372,2180,46,0
10,50,black,105823,11473,11473,49339,16658,3047,171,1,...,51496,15439,2126,154,1,51437,15593,2068,117,1
11,50,white,121148,11875,11875,47031,17781,2883,176,1,...,49327,16603,1893,49,0,49213,16397,2214,48,0
12,60,black,122003,11473,11473,49339,16658,3047,171,1,...,51632,15404,2139,40,1,51695,15351,2129,40,1
13,60,white,109305,11875,11875,47031,17781,2883,176,1,...,49350,16585,1889,48,0,49213,16444,2166,49,0
14,70,black,121819,11473,11473,49339,16658,3047,171,1,...,51748,15251,2177,39,1,51806,15239,2133,37,1
15,70,white,106202,11875,11875,47031,17781,2883,176,1,...,49374,16536,1913,49,0,49242,16342,2240,48,0
16,80,black,108969,11473,11473,49339,16658,3047,171,1,...,51333,15453,2290,139,1,51383,15453,2245,134,1
17,80,white,117322,11875,11875,47031,17781,2883,176,1,...,49387,16487,1949,49,0,49245,16309,2270,48,0
18,90,black,109325,11473,11473,49339,16658,3047,171,1,...,51808,15104,2262,41,1,51779,15153,2243,40,1
19,90,white,120467,11875,11875,47031,17781,2883,176,1,...,49394,16486,1942,50,0,49305,16247,2270,50,0
20,100,black,113443,11473,11473,49339,16658,3047,171,1,...,51753,15120,2302,40,1,51847,15101,2227,40,1
21,100,white,118699,11875,11875,47031,17781,2883,176,1,...,49393,16465,1967,47,0,49246,16275,2304,47,0

In [ ]:
import matplotlib.pyplot as plt
df_counts= pd.DataFrame
# Calculate the percentages for each category in the naive stage
df['total_counts_naive'] = (
    df['counts_none_naive'] +
    df['counts_slight_naive'] +
    df['counts_moderate_naive'] +
    df['counts_high_naive'] +
    df['counts_extreme_naive']
)

df['percent_none'] = df['counts_none_naive'] / df['total_counts_naive'] * 100
df['percent_slight'] = df['counts_slight_naive'] / df['total_counts_naive'] * 100
df['percent_moderate'] = df['counts_moderate_naive'] / df['total_counts_naive'] * 100
df['percent_high'] = df['counts_high_naive'] / df['total_counts_naive'] * 100
df['percent_extreme'] = df['counts_extreme_naive'] / df['total_counts_naive'] * 100

# Prepare the df for plotting
plot_df = df[['ratio', 'percent_none', 'percent_slight', 'percent_moderate', 'percent_high', 'percent_extreme']]

# Plot the df
plt.figure(figsize=(12, 8))
plt.scatter(plot_df['ratio'], plot_df['percent_extreme'], label='Extreme', color='purple')
plt.scatter(plot_df['ratio'], plot_df['percent_high'], label='High', color='red')
plt.scatter(plot_df['ratio'], plot_df['percent_moderate'], label='Moderate', color='orange')
plt.scatter(plot_df['ratio'], plot_df['percent_slight'], label='Slight', color='green')
plt.scatter(plot_df['ratio'], plot_df['percent_none'], label='None', color='blue')



plt.xlabel('Ratio')
plt.ylabel('Percentage')
plt.title('Percentage Distribution by Ratio for Different Categories (Naive Stage)')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
df